.vlt
.idea
*.iml
*.iws
.DS_Store

*.dir
*.tmp
target/
.sonar-ide.properties
*/.sonar-ide.properties
**/quickstart/*

.sonar

.project
.settings
.classpath

npm-debug.log

/node_modules/
/node/
/build-settings/

*.html.binary

.vagrant/